@import url("https://fonts.googleapis.com/css?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");

:root {
  --default-font: "Montserrat";
  --title-font: "Calistoga";
}

html {
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  font-family: var(--default-font);
  font-size: 1.6rem;
  color: white;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
  font-weight: 400; // Better font-rendering for the eye
  line-height: 1.5;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.2rem;
}
